html,body {
	text-align: center;
	background:#D47677;
	color:#7E7E7E;
	font-family: 'Roboto', sans-serif;
}
a {
	color:#be6a6a;
	text-decoration: none;	
}
h2.title {
	text-align:left;
}
h2.title.update {
	margin:0;
}
#titleHolder {
	min-height: 80px;
	padding:20px 0;
}
#wrapper {
	width:800px;
	margin:0 auto;
	display:block;
	background:#FFF;
	padding:50px;
}
#wrapper #header {
	width:800px;
	height:200px;
}
#admin #wrapper #header {
	height:80px;
}
#admin #header #nav ul {
	padding: 0;
	margin: 0;
}
#admin #header #nav ul li {
	float: left;
	width: 266px;
	background: #c96162;
	list-style-type: none;
	position: relative;
}
#admin #header #nav ul li:hover {
	background: #d47677;
}
#admin #header #nav ul li a {
	color:#fff;
	display: block;
	padding:10px 14px;
}
#admin #header #nav ul li ul {
	display: none;
	padding: 0;
	position: absolute;
}
#admin #header #nav ul li ul li {
	width: 266px;
}
#admin form#newPage label {
	width: auto;
}
#admin form#newPage input {
	font-family: 'Roboto', sans-serif;
	padding:10px;
	float:left;
	width: 300px;
}
#admin form#newPage .item {
	margin: 0;
}
#admin input.valid {
	border: 2px dashed #13ff58;
}
#admin input.invalid {
	border: 2px dashed #f00;
}
#admin textarea {
	font-family: 'Roboto', sans-serif;
	color:#7E7E7E;
	padding:10px;
	float:left;
	width: 600px;
	min-height:300px;
	border:1px solid #aaa;
}
form label {
	color:#AAA;
	padding:4px 7px 5px 0;
	width:125px;
	float: left;
	text-align: right;
}
form input {
	width:153px;
	border:1px solid #aaa;
	padding:5px;
	color:#7E7E7E;
}
form .item {
	width:300px;
	margin: 0 150px;
	position: relative;
}
form input[type=submit] {
	cursor: pointer;
	margin-top:15px;
	margin-left: 127px;
}
#admin form#newPage input[type=submit] {
	width:100px;
	margin-left:0;
}
form .err {
	background: #BE6A6A;
	color: #fff;
	padding: 3px 4px;
	position: absolute;
	left: 300px;
	margin: 2px 0;
	top: 0;
	width: 300px;
	display:none;
}
form#newPage .err {
	left:350px;
	top:31px;
	padding:9px 4px;
}
#success {
	padding:5px;
	background: #acd9ae;
	display:none;
}
#success.page {
	width: 300px;
	float: left;
	margin: 16px 16px 0 16px;
	padding: 9px;
}
#error {
	padding:5px;
	background: #BE6A6A;
	display:none;
	color: #fff;
}

/*** TinyMCE extra styling ***/
#mce_14-body, #mce_20-body {
	float:left;
}
.clear{
	clear:both;
}
::selection {
	background:#DE8081;
}